html {
	height: 100%;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
	height: 100%;
	background-color: #dddddd;	
}

div#wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
}

div#clearer {
	clear: both;
	height: 0;	
}

div#header {
	width: 1000px;
	height: 24px;
    margin: 0 auto;
	background-color: #B2B299;
}

/*
 CDC4BC CDCDBC C4CDBC

3A3A2C 66664D 91916E B2B299 D3D3C5
*/

div#navbar {
	width: 1000px;
	background-color: #B2B299;
	border-radius: 0px 0px 8px 8px; 
	-moz-border-radius: 0px 0px 8px 8px; 
	-webkit-border-radius: 0px 0px 8px 8px; 
}

div#content {
	width: 960px;
	padding: 0 20px 0 20px;
}

div#footer {
	position: fixed;
	bottom: 0;
	width: 1000px;
	height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #ccccbb;
	border-radius: 8px 8px 0px 0px; 
	-moz-border-radius: 8px 8px 0px 0px; 
	-webkit-border-radius: 8px 8px 0px 0px; 
}

div#ingrWrapper {
	float: left;
	width: 220px;
}

div#ingrBoxHeader {
	background-color: #999999;
	font-weight: bold;
	margin: 0;
	padding: 2px 8px 2px 8px;
	border-radius: 8px 8px 0px 0px; 
	-moz-border-radius: 8px 8px 0px 0px; 
	-webkit-border-radius: 8px 8px 0px 0px; 
}

div#ingrBox {
	background-color: #eeeeee;
	margin: 0;
	padding: 8px 8px 8px 8px;
	border-radius: 0px 0px 8px 8px; 
	-moz-border-radius: 0px 0px 8px 8px; 
	-webkit-border-radius: 0px 0px 8px 8px; 
}

div#recipeBoxHeader {
	heigth: 16px;
	font-weight: bold;
	background-color: #999999;
	margin: 0 100px 0 260px;
	padding: 2px 8px 2px 8px;
	border-radius: 8px 8px 0px 0px; 
	-moz-border-radius: 8px 8px 0px 0px; 
	-webkit-border-radius: 8px 8px 0px 0px; 
}

div#recipeBox {
	background-color: #eeeeee;
	margin: 0 100px 0 260px;
	padding: 8px 8px 8px 8px;
	border-radius: 0px 0px 8px 8px; 
	-moz-border-radius: 0px 0px 8px 8px; 
	-webkit-border-radius: 0px 0px 8px 8px; 
}


pre {
	font-size: 1.2em;
}

input {
	font-size: 1.0em;
}

.pretext {
	white-space: pre;
	font-family: Courier,monospace;
}

.labelColumn {
    width: 9em;
}

.elementColumn {
}

.errorColumn {
}

.requiredLabel {
	color: #660000;
}

.ssomm-greenback {
	background-color: #aaffaa;
}

.ssomm-yellowback {
	background-color: #ffff77;
}


.ssomm-fatal {
	color: #ff0000;
}

.ssomm-error {
	color: #990000;
}

.ssomm-warn {
	color: #550000;
}

.ssomm-info {
	color: #005500;
}
