<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" debug="true" scanPeriod="5 seconds">

	<logger name="de.cyber_simon">
		<level value="TRACE" />
	</logger>

	<logger name="org.apache">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>

	<logger name="com.mchange">
		<level value="INFO" />
	</logger>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date{HH:mm:ss.SSS} - %level [%logger:%line] - %msg%n%ex{short}</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
